/*Created by Vaso
  v@nonforum.com*/

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300|Source+Sans+Pro:200');


* {
  font-family: 'Source Sans Pro', sans-serif;
}

#topterm {
  float: left;
  clear: left;
  font-size: 32px;
  background-color: hsla(170, 50%, 50%, .2);

}

#searchbar.main {
  float: left;

  font-size: 40px;
}

form { display: inline; }

#searchbox {
  font-size: 22px;
  width: 330px;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline;
}

#menu.main {
  line-height: 14px;
  font-size: 14px;
  width: 120px;
  display: block;
  position: fixed;
  top: 5px;
  right: 5px;
}


#heading.top {
  position: absolute;
  width: 300px;
  height: 30px;
  right: 0;
  background-color: hsla(170, 50%, 50%, .3);
}

#menu {
  position: absolute;
  right: 0;
  top: 0;

  display: inline-block;
  font-size: 24px;
}

#hachiba_title {
  font-size: 46px;
  margin-top: 35px;
  padding-bottom: 42px;
  padding-left: 8px;
}

.menulinks {

    background-color: hsla(170, 50%, 50%, .35);

  padding-left: 5px;


  border: 1px solid black;
  border-radius: 5px;
  padding-bottom: 4px;
}

#main_contain {
  float: left;
  clear: left;
}


#post_content {
  float: left;
  clear: left;
  min-width: 250px;
  min-height: 30px;
  width: 550px;
  height: 120px;
  font-size: 18px;
}

#captcha {
float:left;
clear:left;}

#post_submit {
  float: left;
  clear: none;
}



#footing {
width: 100%;
height: 100px;
position: absolute;
bottom: 0;
left: 0;
  overflow: hidden;
}

#topfolds.main {

  background-color: hsla(170, 50%, 50%, .35);
  height: 100px;
}

.fold {
  display: list-item;
}




