/*Created by Vaso
  v@nonforum.com*/

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300|Source+Sans+Pro:200');


* {
  font-family: 'Source Sans Pro', sans-serif;
}

#fileuploadfield {
  float: left;
  clear: left;
}


.post {
  background-color: hsla(170, 50%, 90%, 1);
  min-width: 200px;
  min-height:40px;
  display: block;
  float: left;
  clear: left;

  /*border: 1px solid #ccc;*/
  margin-top: 4px;
}

.threads {
  /*background-color: hsla(170, 50%, 50%, .3);*/
}
.thread {
  float:left;
  clear:left;
  position: relative;
  min-height: 50px;
  width: auto;
  background-color: hsla(170, 50%, 80%, .2);
  border: 1px solid hsla(170, 50%, 20%, .5);
  padding: 2px;
  margin-top: 10px;

}

.thread > a, .thread > a:visited {
  color: hsla(170, 50%, 5%, 1);
}

.post {
  font-size: 24px;
  position: relative;
}

.post_timestamp {
  position: absolute;
  right: 0;
  bottom: 1px;
  font-size: 10px;
}



a:visited, a {
  color: hsla(170, 50%, 30%, 1);

  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#sblink {
  text-decoration: none;
}
#sblink:hover {
  text-decoration: underline;
}

.sblink {
  color: #000;
  text-decoration: none;
}

.sblink:hover {
  text-decoration: underline;
}

#topterm {
  float: left;
  clear: left;
  font-size: 32px;
  background-color: hsla(170, 50%, 50%, .2);

}

#searchbar.main {
  float: left;

  font-size: 40px;
}

form { display: inline; }

#searchbox {
  font-size: 22px;
  width: 330px;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline;
}

#menu.main {
  line-height: 14px;
  font-size: 14px;
  width: 120px;
  display: block;
  position: fixed;
  top: 5px;
  right: 5px;
}


#heading.top {
  position: absolute;
  width: 300px;
  height: 30px;
  right: 0;
  background-color: hsla(170, 50%, 50%, .3);
}

#menu {
  position: absolute;
  right: 0;
  top: 0;

  display: inline-block;
  font-size: 24px;
  z-index: 17;
}

#hachiba_title {
  font-size: 46px;
  margin-top: 35px;
  padding-bottom: 42px;
  padding-left: 8px;
  color: hsla(170, 50%, 20%, 1);
}

.menulinks {

    background-color: #fff;

  padding-left: 5px;


  border: 1px solid hsla(170, 50%, 30%, 1);
  border-radius: 5px;
  padding-bottom: 4px;
}

#main_contain {
  float: left;
  clear: left;
}


#post_content {
  float: left;
  clear: left;
  min-width: 250px;
  min-height: 30px;
  width: 550px;
  font-size: 18px;
  margin-top: 4px;
}

#captcha {
float:left;
clear:left;}

#post_submit {
  float: left;
  clear: none;
}



#marking {

  position: relative;

}

#topfolds.main {
  padding-top: 7px;
  float: left;
  clear: left;
  position: relative;
   width: 85%;
  min-height: 40px;
  font-size: 24px;
  border: 1px solid;
  border-color: hsla(170, 50%, 50%, .35);
  list-style: none;
  z-index: 2;
  overflow: none;

}

.fold {
  display: block;
  float: left;
  margin-left: 10px;
}




#about {
  float: left;
  clear: left;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  #searchbox {
    float: left;
    clear: left;
  }
}


@media screen and (max-width: 480px) {
    #menu.main {
        position: relative;
        display: block;
        float: left;
        clear: left;
    }

  #searchbox {
    float: left;
    clear: left;
  }
}

.thumbnail {
   width: 422px;
}
